@charset "UTF-8";

body {
  background-color: #fcfcfc;
  color: #3c1606;
  font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-style: normal;
  font-weight: 300;
  position: relative;
}
a {
  display: inline-block;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 16px 120px;
  text-align: center;
}
.section-title {
  display: inline-block;
  font-family: FOT-TsukuARdGothic Std;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1; /* 100% */
  margin: 24px 0 64px;
  position: relative;
  z-index: 0;
}
.section-title::before {
  background-color: #fede8c;
  border-radius: 50%;
  content: "";
  height: 80px;
  left: -24px;
  position: absolute;
  top: -24px;
  width: 80px;
  z-index: -1;
}
.section__lead {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1; /* 100% */
  margin-bottom: 20px;
}
/* 縁取り文字やり方参照↓
  https://csshtml.work/stroke/#1px*/

/* 縁あり文字*/
.border-orange {
  position: relative;
  -webkit-text-stroke: 4px #f5ece6;
}
/* 縁あり文字 */
.border-white {
  position: relative;
  -webkit-text-stroke: 3px #fcfcfc;
}
/* 縁なし文字 */
.letter-border {
  position: absolute;
  -webkit-text-stroke: 0;
}
/* 数字の書体 */
.number {
  font-family: FOT-TsukuARdGothic Std;
}
/* スマホ用ハンバーガーメニュー */
#sp-nav, .sp-toggle-btn, #mask {
  display: none;
}
#mask {
  transition: all .5s;
}
.open #mask {
  background: #ffffff;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* メディアクエリ */
@media (max-width: 768px) {
  body {
    font-size: .875rem;
  }
  .wrapper {
    padding-bottom: 64px;
  }
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  .section-title::before {
    height: 60px;
    left: -18px;
    top: -18px;
    width: 60px;
  }
  .section__lead {
    font-size: 1.125rem;
  }
  .nav, .nav__reservation {
    display: none;
  }
  #sp-nav, .sp-toggle-btn {
    display: block;
  }
  #sp-nav {
    background-color: #edad0b;
    bottom: 0;
    color: #3c1606;
    left: -300px;
    opacity: 0;
    padding: 24px 40px;
    position: fixed;
    top: 0;
    transition: all .5s;
    width: 300px;
    z-index: 20;
  }
  .open #sp-nav {
    left: 0;
    opacity: 1;
  }
  .sp-heading_h1 {
    margin-bottom: 40px;
    width: 136.57px;
  }
  #sp-nav li {
    font-weight: 600;
    margin-bottom: 40px;
  }
  #sp-nav a {
    color: #3c1606;
  }
  .sp-nav-item-tel {
    font-size: .875rem;
  }
  .sp-tel-img {
    padding-top: 14px;
  }
  .sp-toggle-btn {
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 30px;
    z-index: 20;
  }
  .sp-toggle-btn span {
    background-color: #3c1606;
    border-radius: 10px;
    height: 2px;
    position: absolute;
    transition: all .5s;
    width: 30px;
  }
  .sp-toggle-btn span:nth-child(1) {
    top: 5px;
  }
  .sp-toggle-btn span:nth-child(2) {
    top: 15px;
  }
  .sp-toggle-btn span:nth-child(3) {
    top: 25px;
  }
  .open .sp-toggle-btn span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .open .sp-toggle-btn span:nth-child(2) {
    opacity: 0;
  }
  .open .sp-toggle-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
}
/* ============== 
header 
============== */
#header {
  align-items: center;
  background-color: #f5ece6;
  box-shadow: 0 2px 30px 0 rgba(60, 22, 6, .2);
  display: flex;
  height: 87.87px;
  justify-content: space-between;
  left: 0;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.heading_h1 {
  width: 196px;
}
.nav__list {
  align-items: center;
  display: flex;
}
.nav__item {
  border-right: 1px solid #3c1606;
  font-size: .875rem;
  font-weight: 600;
  padding: 0 20px;
  text-align: center;
  transition: all .3s;
}
.nav__item:hover {
  opacity: .4;
}
.nav__item:last-child {
  border-right: none;
}
.nav__list a {
  color: #3c1606;
}
.nav__reservation {
  border-radius: 8px;
  box-shadow: -4px 4px 10px 0 rgba(177, 169, 151, .5),
  4px -4px 10px 0 rgba(177, 169, 151, .5);
  width: 204px;
}

/* ============== 
KV
============== */
.kv {
  background-image: url(../img/main-visual.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 87.87px;
  min-height: calc(100vh - 87.87px);
  position: relative;
  width: 100%;
}
.kv-text {
  color: #ffffff;
  font-family: FOT-TsukuARdGothic Std;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  left: 90px;
  letter-spacing: .3em;
  line-height: 2;
  position: absolute;
  text-shadow: 0 -4px 10px rgba(38, 9, 7, .4),
  0 4px 10px rgba(38, 9, 7, .4);
  top: 70px;
}

@media (max-width: 768px) {
  .kv {
    background-position: right 20% center;
  }
  .kv-text {
    font-size: 1.5rem;
    left: 10%;
  }
}

/* ============== 
trouble
============== */
#trouble {
  background-color: #fcfcfc;
  padding-top: 120px;
  position: relative;
}
/* 波背景をレスポンシブ可変
参考サイト↓
https://zenn.dev/masa5714/articles/771ddbe99686ba */
#trouble::before {
  aspect-ratio: 1199 / 120; /* 画像素材の比率（縦サイズを自動リサイズ） */
  background: url(../img/wave1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 画像を可変にする( 幅 高さ ) */
  bottom: 0;
  content: "";
  display: block;
  height: auto; /* aspect-ratioで高さを決めるので明示的に無効化しておく（省略可） */
  left: 0;
  position: absolute;
  width: 100%; /* (デザインデータの横幅 / 画像素材の横幅) x 100 */
}
.section-title-trouble {
  font-family: FOT-TsukuARdGothic Std;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1; /* 100% */
  margin-bottom: 65px;
  text-align: center;
}
.trouble__description {
  align-items: flex-end;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 66.79px;
}
.trouble__list {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 14px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}
.trouble-item {
  align-items: center;
  background-color: #edad0b;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  font-family: Hiragino Kaku Gothic ProN;
  font-style: normal;
  font-weight: 600;
  height: 170px;
  justify-content: center;
  letter-spacing: .1em;
  line-height: 1.5; /* 24px */
  opacity: 0;
  width: 170px;
}
.trouble-item.inview.fadeup {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-name: fadeUpAnime;
  opacity: 0;
}
@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* アニメーションスタートの遅延時間を決めるCSS*/
.delay-time02 {
  animation-delay: .2s;
}
.delay-time04 {
  animation-delay: .4s;
}
.delay-time06 {
  animation-delay: .6s;
}
.delay-time08 {
  animation-delay: .8s;
}
.delay-time10 {
  animation-delay: 1s;
}
.trouble-solution {
  display: inline-block;
  font-family: FOT-TsukuARdGothic Std;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1; /* 100% */
  position: relative;
  text-align: center;
  z-index: 0;
}
.trouble-solution::before {
  content: url(../img/deco_left.svg);
  left: -75px;
  position: absolute;
  top: -50px;
  width: auto;
}
.trouble-solution::after {
  content: url(../img/deco_right.svg);
  position: absolute;
  top: -50px;
  width: auto;
}
/* 下線 */
.underline::before {
  background-color: #edad0b;
  border-radius: 8px; /* heightと同値 */
  bottom: 0;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* メディアクエリ */
@media (max-width: 768px) {
  #trouble {
    padding-top: 64px;
  }
  .section-title-trouble, .trouble-solution {
    font-size: 1.5rem;
  }
  .section-title-trouble, .trouble-solution {
    line-height: 2;
    margin-bottom: 40px;
  }
  .trouble__description {
    margin-bottom: 64px;
  }
  .trouble-illustration {
    display: none;
  }
  .trouble__list {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .trouble-item {
    height: 150px;
    width: 150px;
  }
  .trouble-solution::before {
    left: 0;
    top: -30px;
    z-index: -1;
  }
  .trouble-solution::after {
    right: 0;
    top: -30px;
    z-index: -1;
  }
}

/* ============== 
about
============== */
#about {
  background-color: #f5ece6;
  position: relative;
}
#about::before {
  aspect-ratio: 1200 / 59; /* 画像素材の比率（縦サイズを自動リサイズ） */
  background: url(../img/wave2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 画像を可変にする( 幅 高さ ) */
  border-bottom: 1px solid #fcfcfc; /* 境目の線を消す */
  bottom: 0;
  content: "";
  display: block;
  height: auto; /* aspect-ratioで高さを決めるので明示的に無効化しておく（省略可） */
  left: 0;
  position: absolute;
  width: 100%; /* (デザインデータの横幅 / 画像素材の横幅) x 100 */
}
.about__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
#about .inview.fadeup {
  animation: fadeup 2s cubic-bezier(.33, 1, .68, 1) forwards;
}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-img {
  width: 55%;
}
.about-img img {
  border-radius: 20px;
}
.about-text {
  font-style: normal;
  font-weight: 300;
  letter-spacing: .1em;
  line-height: 1.5; /* 24px */
  text-align: justify;
  width: 39%;
}
.about-text-red {
  color: #d93131;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .about__item {
    flex-direction: column;
    gap: 20px;
  }
  .about-img {
    width: 100%;
  }
  .about-text {
    width: 100%;
  }
}

/* ============== 
flow
============== */
#flow {
  background-color: #fcfcfc;
  position: relative;
}
#flow .fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
#flow::before {
  aspect-ratio: 1199 / 188; /* 画像素材の比率（縦サイズを自動リサイズ） */
  background: url(../img/wave3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 画像を可変にする( 幅 高さ ) */
  border-bottom: 1px solid #f5ece6; /* 境目の線を消す */
  bottom: 0;
  content: "";
  display: block;
  height: auto; /* aspect-ratioで高さを決めるので明示的に無効化しておく（省略可） */
  left: 0;
  position: absolute;
  width: 100%; /* (デザインデータの横幅 / 画像素材の横幅) x 100 */
}
.flow-item {
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 20px;
  display: flex;
  filter: drop-shadow(4px -4px 6px rgba(177, 169, 151, .5))
  drop-shadow(-4px 4px 6px rgba(177, 169, 151, .5));
  justify-content: space-between;
  margin-bottom: 51px;
  padding: 40px 0 40px 40px;
  position: relative;
  z-index: 1;
}
.flow-item:last-of-type {
  margin-bottom: 0;
}
.flow-item::before {
  border-color: #fcfcfc transparent transparent transparent;
  border-style: solid;
  border-width: 40.235px 77px 0 77px;
  bottom: -30px;
  content: "";
  filter: drop-shadow(4px -4px 6px rgba(177, 169, 151, .5))
  drop-shadow(-4px 4px 6px rgba(177, 169, 151, .5));
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}
.flow-item::after {
  background-color: #fcfcfc;
  bottom: 0;
  content: "";
  height: 30px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 200px;
}
.flow-item:last-child:before {
  display: none;
}
.flow-item:last-child::after {
  display: none;
}
.flow-img {
  width: 46%;
}
.flow-img img {
  border-radius: 20px;
}
.flow-text {
  text-align: center;
  width: 50%;
}
.flow-number {
  margin: 0 auto 40px;
  width: 89px;
}
.flow-text p {
  letter-spacing: .1em;
  line-height: 1.5; /* 24px */
}

/* メディアクエリ */
@media (max-width: 768px) {
  .flow-item {
    flex-direction: column;
    padding: 30px;
  }
  .flow-item::before {
    border-width: 26px 65px 0 65px;
    bottom: -20px;
  }
  .flow-img {
    margin-bottom: 20px;
    width: 100%;
  }
  .flow-text {
    padding-bottom: 20px;
    width: 100%;
  }
}

/* ============== 
voice
============== */
#voice .fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
#voice {
  background-color: #f5ece6;
  position: relative;
}
#voice::before {
  aspect-ratio: 1199 / 51; /* 画像素材の比率（縦サイズを自動リサイズ） */
  background: url(../img/wave4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 画像を可変にする( 幅 高さ ) */
  bottom: 0;

/* border-bottom: 1px solid #f5ece6;  境目の線を消す */
  content: "";
  display: block;
  height: auto; /* aspect-ratioで高さを決めるので明示的に無効化しておく（省略可） */
  left: 0;
  position: absolute;
  width: 100%; /* (デザインデータの横幅 / 画像素材の横幅) x 100 */
}
.voice-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.voice-item {
  background-color: #fcfcfc;
  border-radius: 20px;
  height: 387px;
  padding: 50px 0;
  width: 27%;
}
.voice-img {
  height: 135px;
  margin-bottom: 20px;
}
.voice-img img {
  width: auto;
}
.age {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.voice-text {
  letter-spacing: .1em;
  line-height: 1.5; /* 24px */
  margin: 0 auto;
  width: 190px;
}
.voice-text-red {
  color: #d93131;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .voice-list {
    flex-direction: column;
    gap: 20px;
  }
  .voice-item {
    min-width: 270px;
  }
}

/* ============== 
greeting
============== */
#greeting {
  background-color: #fcfcfc;
  position: relative;
}
#greeting::before {
  aspect-ratio: 1200 / 18; /* 画像素材の比率（縦サイズを自動リサイズ） */
  background: url(../img/wave5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 画像を可変にする( 幅 高さ ) */
  content: "";
  display: block;
  height: auto; /* aspect-ratioで高さを決めるので明示的に無効化しておく（省略可） */
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; /* (デザインデータの横幅 / 画像素材の横幅) x 100 */
}
#greeting::after {
  aspect-ratio: 1200 / 120; /* 画像素材の比率（縦サイズを自動リサイズ） */
  background: url(../img/wave6.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 画像を可変にする( 幅 高さ ) */
  bottom: 0;
  content: "";
  display: block;
  height: auto; /* aspect-ratioで高さを決めるので明示的に無効化しておく（省略可） */
  left: 0;
  position: absolute;
  width: 100%; /* (デザインデータの横幅 / 画像素材の横幅) x 100 */
}
.greeting__list {
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
#greeting .inview.fadeup {
  animation: fadeup 2s cubic-bezier(.33, 1, .68, 1) forwards;
}
@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.greeting-item-left {
  max-width: 520px;
  text-align: left;
}
.greeting-text {
  letter-spacing: .1em;
  line-height: 1.5; /* 24px */
}
.greeting-item-right {
  max-width: 400px;
}
.greeting-img {
  margin-bottom: 8px;
}
.greeting-img img {
  border-radius: 20px;
}
.greeting-name {
  display: inline-block;
  letter-spacing: .2em;
  text-align: left;
}
.name-head {
  font-size: .875rem;
  margin-bottom: 6px;
}
.name-foot {
  font-size: 1.125rem;
}

/* メディアクエリ */
@media (max-width: 768px) {
  .greeting__list {
    flex-direction: column;
  }
  .greeting-item-left {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: justify;
  }
  .greeting-item-left > .section__lead {
    text-align: center;
  }
  .greeting-item-right {
    max-width: 100%;
  }
}

/* ============== 
access
============== */
#access {
  background-color: #f5ece6;
  position: relative;
}
#access::before {
  aspect-ratio: 1200 / 16; /* 画像素材の比率（縦サイズを自動リサイズ） */
  background: url(../img/wave7.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* 画像を可変にする( 幅 高さ ) */
  content: "";
  display: block;
  height: auto; /* aspect-ratioで高さを決めるので明示的に無効化しておく（省略可） */
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; /* (デザインデータの横幅 / 画像素材の横幅) x 100 */
}
.access-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.access-map {
  width: 400px;
}
.map {
  aspect-ratio: 1 /1;
  height: auto;
  width: 100%;
}
.access-item {
  max-width: 492px;
  padding-left: 16px;
}
.access-logo {
  margin-bottom: 20px;
  width: 196px;
}
.access-information {
  text-align: left;
}
.access-text {
  display: flex;
  gap: 6%;
  margin-bottom: 30px;
}
.access-text-left li {
  margin-bottom: 8px;
}
.access-text-left li:last-of-type {
  margin-bottom: 0;
}
.access-text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.access-information-inner {
  display: flex;
  gap: 8px;
}
.access-information-inner p {
  line-height: 1.25em;
}
.access-tel {
  text-align: center;
}
.tel-text {
  color: #d93131;
  display: inline-block;
  font-family: FOT-TsukuARdGothic Std;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: .225rem;
  margin-bottom: 20.58px;
  padding: 0 30px; /* 斜線との距離 */
  position: relative;
}
.tel-text::before {
  background: linear-gradient(
  45deg,
  transparent 0%,
  transparent 48%,
  #d93131 48%,
  #d93131 52%,
  transparent 52%,
  transparent 100%
  );
  border-radius: 5px;
  content: "";
  height: 30px; /* 線の高さ */
  left: 0;
  position: absolute;
  top: 0;
  width: 30px; /* 線の長さ */
}
.tel-text::after {
  background: linear-gradient(
  -45deg,
  transparent 0%,
  transparent 48%,
  #d93131 48%,
  #d93131 52%,
  transparent 52%,
  transparent 100%
  );
  border-radius: 5px;
  content: "";
  height: 30px; /* 線の高さ */
  position: absolute;
  right: 0;
  top: 0;
  width: 30px; /* 線の長さ */
}

/* メディアクエリ */
@media (max-width: 768px) {
  .access-list {
    flex-direction: column;
    gap: 20px;
  }
  .access-item {
    max-width: 100%;
    padding-left: 0;
  }
  .access-logo {
    margin: 0 auto 20px;
  }
  .access-text {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .access-map {
    width: 100%;
  }
  .access-text-right {
    gap: 10px;
  }
}

/* ============== 
footer
============== */
footer {
  padding: 30px 0 20px;
  text-align: center;
}
.footer-nav__list {
  display: flex;
  font-size: .875rem;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 30px;
}
.footer-nav__item {
  border-right: 1px solid #3c1606;
  padding: 0 30px;
  transition: all .3s;
}
.footer-nav__item:hover {
  opacity: .4;
}
.footer-nav__item:last-of-type {
  border-right: none;
}
.footer-nav__item:first-of-type {
  padding-left: 0;
}
.footer-nav__item:last-of-type {
  padding-right: 0;
}
.copyright {
  font-size: .75rem;
}

/* メディアクエリ */
@media (max-width: 768px) {
  footer {
    padding-top: 20px;
  }
  .footer-nav__list {
    display: none;
  }
}
